/* styles.css */

.messages {
  width: 100%;
  height: 100%;
  padding: 1rem;
  position: relative;
}

.message-bubbles {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  height: 100%;
}

.message-bubble {
  padding: 8px 12px;
  max-width: 80%;
  word-wrap: break-word;
  border-radius: 16px;
  margin-bottom: 8px;
  font-size: 14px;
  line-height: 1.4;
}

/* Style for messages sent by the user */
.message-bubble.sent-by-me {
  background-color: #dcf8c6;
  align-self: flex-end;
}

/* Style for messages received from others */
.message-bubble:not(.sent-by-me) {
  background-color: #f3f3f3;
  align-self: flex-start;
}

.message-input {
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
  padding: 8px;
  position: absolute;
  bottom: 0; /* Stick the MessageInput component to the bottom */
}

.input-field {
  flex: 1;
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
}
