@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-blue: #5570f1;
  --primary-blue-50: #97a5eb;
  --primary-blue-trans: #eef0fa;

  --secondary-gold: #ffcc91;
  --secondary-gold-20: #fef5ea;

  --black: #33343a;
  --black-10: #bec0ca;
  --black-20: #a6a8b1;
  --black-60: #45464e;

  --action-red: #cc5f5f;
  --red-trans: #f57e771f;

  --action-green: #519c66;
  --green-trans: #32936f1f;
}

body {
  background: #f1f3f9;
  font-family: serif;
  font-family: 'Inter', sans-serif;
  font-size: 14px;
}

aside ul {
  display: flex;
  width: 100%;
  flex-direction: column;
  gap: 0.25rem;
}

aside ul li {
  padding: 0 1rem;
  width: 100%;
}

aside ul li a {
  padding: 0.8rem 1rem;
  display: flex;
  gap: 0.2rem;
  width: 100%;
  transition: 0.3s ease-in-out background-color;
  border-radius: 0.5rem;
  background: transparent;
  align-items: center;
}

aside ul li a:hover {
  background-color: var(--primary-blue-50);
  color: #fff;
}

aside ul li a.active-link {
  background: var(--primary-blue);
  color: #fff;
}

aside ul li a svg {
  margin-right: 1rem;
}

.logo {
  margin-bottom: 3rem;
  margin-left: 0.25rem;
}

/* Table */

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table th,
.table td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #e0e0e0;
}

.table th {
  background-color: #f2f2f2;
}

.table td:last-child {
  text-align: center;
}

/* Style the Delete button */
.table button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
}

/* Add some spacing around the Delete button */
.table button:not(:last-child) {
  margin-right: 8px;
}

/* Hover effect for the Delete button */
.table button:hover {
  background-color: #cc0000;
}

.charts-area {
  display: grid;
  grid-template-areas:
    'header header header header'
    'content content content sidebar'
    'footer footer footer sidebar';
  grid-template-rows: auto auto 1fr; /* Adjust as needed */

  gap: 0.8rem;
}

.area-1 {
  grid-area: header;
}
.area-2 {
  display: grid;
  grid-area: content;
  height: 200px;
  grid-template-columns: 1fr 1fr;
  overflow-y: auto;
}
.area-3 {
  grid-area: sidebar;
  display: grid;
  /* Define the height of each row explicitly */
}

.area-4 {
  grid-area: footer;
}
