/* Assuming you have a CSS file (e.g., styles.css) for styling */

.search-box {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 8px;
}

.search-icon {
  margin-right: 8px;
  color: #555;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 16px;
}
